@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Marcellus&family=Gothic+A1:wght@300;400;500;600;700&display=fallback");
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

:root{
    --black : black;
    --white : white;
    --whitea : rgba(255, 255, 255, 0.8);
    --pcolor : rgba(2, 54, 81, 0.7);
    --scolor : rgb(137, 177, 26);
    /*changed pcolor, orignal - (92, 95, 84, 0.6)*/
    /* --mode : light; */
    /* --scolor : rgb(178, 249, 0); */
    --bg: #92dff3;
    --hovcolor:rgb(252, 217, 217);
    --link:rgb(70, 1, 1);
    --shadow1: rgba(0, 0, 0, 0.25);
    --shadow2: rgba(0, 0, 0, 0.12);
    --shadow3: rgba(0, 0, 0, 0.17);
    --shadow4: rgba(0, 0, 0, 0.09);
    --shadow5: rgba(251, 249, 249, 0.404);
    --bgi: url("img/bg2.png")
}

html {
  scroll-behavior: smooth;
}

.dark {
    justify-tracks: "blue";
}

.light {
    justify-tracks: "blue";
}

/*Author: Mokshim Gupta*/
.nanum{
    font-family: "Georgia";
    /*font-family: "Gothic A1", sans-serif !important;*/
    font-weight: 400;
    font-style: normal;
}

.logos {
    position: relative;
    height: 100%;
}

.logo-2{
    height: 60% !important;
    align-self: flex-end;
}


/* html{
    max-widt: auto;
} */

.blocked {
    overflow: hidden;
}

#preloader {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: "Marcellus";
    overflow-x: hidden;
    width: 100vw;
    height: 100%;
    overflow-y: visible;
    /* position: relative; */

    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    /*background-color: var(--bg);*/
    background-image: var(--bgi);
    /*background-image: url("img/bg2.png");*/
    background-attachment: fixed;
}

.hidden{
    /* opacity: 0 !important; */
    visibility: hidden !important;
    transition: all 0.5 ease;
    /* display: none !important; */
}

#hidden{
    opacity: 0;
}

#committees-cont{
    position: relative;
    width: 100%;
    /* top: 10vh; */
    /* height: 80vh; */
}
#cont-cont{
    position: relative;
    width: 100%;
}

#intro {
    padding: 2vw 4vw;
    width: 100vw;
    height: 100vh;
    background-image: url("img/background-2.png");
    /* filter: brightness(75%); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    z-index: 3;
    position: absolute;
    box-shadow: var(--shadow1) 0px 54px 55px, var(--shadow2) 0px -12px 30px, var(--shadow2) 0px 4px 6px, var(--shadow3) 0px 12px 13px, var(--shadow4) 0px -3px 5px;
}

/* .nav-vis {
    height: 100vh;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}

#fixed-navbar{
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear; */
    /* height: 0px; */
    /* opacity: 0;
} */

.heading{
    margin-top: 60%;
    height: 20vmax;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:var(--black);
    height: 1.5px;
}

#details {
    height:100%;
    overflow-x: hidden;
    position: relative;
    flex: 1 1 0px;
    /* top: -105vh; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding: 5vw;
    /*background-color: rgba(198, 186, 186, 0.342);*/
    background-color: var(--shadow5);
}

h1 {
    color: var(--black);
    font-size: 7vmax;
    
}

#intro h1{
    color: var(--black);
    font-weight: 200;
    color: var(--white);
}


#intro h4 {
    font-weight: 100;
    font-size: 1.5vmax;
    color: var(--white);
}

#intro h5 {
    font-weight: 300;
    font-size: 18px;
    color: var(--white);
}

.no-marg{
    margin: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* .tooltip .tooltiptext {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-top: 10px;
    margin-left: -50px; 
} */

.tooltip .tooltiptext {
    top: -15px;
    right: 115%;
  }
  
  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: var(--pcolor);
    color: var(--white);
    /*font-family: "Gothic A1", sans-serif !important;*/
    font-family: "Georgia";
    text-align: center;
    padding: 15px;
    font-size: 1vmax;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.cur{
    height: 7vmax;
    position: relative;
    width: 10px;
    color: var(--white);
    background-color: var(--white);
}

  
  /* Show the tooltip text when you mouse over the tooltip container */


/* #details h1 {
    color: white;
} */

.nav-icon {
    color: var(--pcolor);
    transition: ease-in 0.2s;
}
.nav-icon:hover {
    color: #336D89;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    flex-direction: column;
    margin-bottom: 30px;
    /* gap: 5px; */
}

section h1 {
    margin: 0;
    padding: 0;
    color: var(--black);
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 6vmax;
    /*font-family: "Gothic A1", sans-serif !important;*/
    font-family: "Georgia";
}

section h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-weight: lighter;
    color: var(--black);
    font-size: 5vmax;
    /*font-family: "Nanum Gothic", sans-serif !important;*/
    font-family: "Georgia";
}

/* h2 {
    font-size: 4vmax;
} */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 0px;
    justify-content: space-between;
}

nav li {
    /* width: 30%; */
    /* margin-right: 20px; */
    background-color: var(--scolor);
    /* padding: 20px; */
}

nav div {
    flex: 1 1 0;
    position: relative;
    width: 100%;
    border-bottom: 3px solid var(--pcolor);
}

.nav:hover .overlay, .nav:focus .overlay, .nav:active .overlay  {
    height: 100%;
    /* top: 0; */
    /* opacity: 1; */
}
.nav:hover a, .nav:focus a, .nav:active a{
    color: var(--hovcolor);
    border: 2px solid var(--white);
    border-bottom: 0;
    /* top: 0; */
    /* opacity: 1; */
}

.overlay {
    z-index: 1;
    padding: 0;
    border: 0;
    transition: height 0.5s;
    width: 100%;
    /* opacity: 0; */
    height: 0px;
    /* transition: 1s ease; */
    position: absolute;
    background-color: var(--pcolor);
}

nav a {
    color: var(--black);
    margin: auto;
    font-size: 1.5vmax;
    z-index: 10;
    text-transform: uppercase;
    transition: 0.5s ease;
    text-align: center;
    display: flex;
    position: relative;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* nav a:hover {
    color: #23527c;
} */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

h2, h3, h4, h6 {
    margin-top: 0;
    font-weight: bold;
    color: var(--black);
}

p {
    text-align: justify;
    margin-bottom: 20px;
    color: var(--black);
    font-weight: 500;
}

blockquote {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
}


.scroll {
    right: 4vw;
    position: absolute;
    bottom: 15vh;
    /* margin-top: 13vh; */
    filter: brightness(70%);
}

section p{
    font-size: 2vmax;
    color: var(--black);
}

blockquote {
    font-size: 3vmax;
}

.rest{
    margin-top: 5px;
}

.coming-soon {
    width: 90%;
    height: 60px;
    background-color: transparent;
    border: 1px solid var(--pcolor);
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    cursor: pointer;
    text-decoration: none;
    
}


.coming-soon:hover{
    /*background-color: rgba(27, 26, 26, 0.821);*/
    background-color: var(--pcolor);
}
.coming-soon:hover p{
   /* color: var(--bg);*/
   color: var(--hovcolor);
}
.coming-soon:active{
    background-color: rgb(153, 154, 149);
}

.cs-head{
    margin-bottom: 20px;
}

.smaller {
    font-size: 18px;
    font-weight: 600;
}

.rest-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rest-col h2 {
    justify-self: flex-start;
    color: var(--black);
    align-self: flex-start;
}

footer{
    left: 0;
    position: relative;
    align-self: flex-start;
    background-color: transparent;
    color: var(--black);
}

a {
    cursor: pointer !important;
}

ul {
    list-style: none;
}

li a {
    text-decoration: underline;
    color: var(--link);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.scrollto{
    margin-top: 15vmax;
}


@media screen and (min-width: 768px) {
    #intro h1{
        font-size: 7vmax;
        color: var(--black);
    }

    section h1{
        font-size: 4vmax;
        color: var(--black);
    }

    section h2{
        color: var(--black);
        font-size: 2.3vmax;
        margin-bottom: 20px;
        font-weight: 400;
    }

    section p{
        font-size: 1.5vmax;
        color: var(--black);
    }

    /* #intro {
        height: 90vh;
    } */

    #details{
        /* top: -130vh; */
        padding: 5vh 15vw;
        /* margin-top: -40vh; */
    }

    .heading{
        margin-top: 14%;
        height: 10vmax;
    }

    .scroll {
        right: 10vw;
        bottom: 25vh;
        /* margin-top: -200vh; */
    }

    nav {
        flex-direction: row;
    }

    nav a {
        font-size: 1vmax;
    }

    nav div {
        width: 0;
    }

    blockquote {
        font-size: 2vmax;
    }

    .rest{
        display: flex;
        width: 100%;
        gap: 50px;
        height: 100%;
        align-items: center;
        justify-content: center;
        /* margin-top: 10px; */
    }

    #coms-cont{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }

    .col-1{
        grid-column: 2;
        margin-top:70px;
        /* justify-content: center;
        align-items: center; */
        /* order: -1; */
    }
    .col-2{
        grid-column: 1;
        /* margin-bottom: -150px; */
    }

    .rest-col{
        flex: 1 1 0;
        width: 0;
    }

    .scrollto{
        margin-top: 10vmax;
    }

  }
